{% extends 'main.html' %}

{% block content %}
<h2>Feed</h2>

{% if request.user.is_authenticated %}
<div>
  <a class="button is-light" href="/create-ticket">New ticket</a>
  <a class="button is-light" href="{% url 'create-review' 'new' %}">Create review</a>
</div>
{% endif %}

{% for post in posts %}
  {% if post.content_type == 'TICKET' %}
    <div class="card post">
      <h3 class="message-header">Ticket from {{post.user}}</h3>
      <div class="book-title">
        <h3 class="card-header-title">{{post.title}}</h3>
      </div>
      <div class="card-content">
        <p>{{post.description}}</p>
        <img class="book-image" src="https://via.placeholder.com/128x192">
      </div>

      <div class="card-date">
        <time>{{post.time_created}}</time>
        {% if post.review_id is None %}
          <a class="button is-light is-small" href="{% url 'create-review' post.id %}">Create review</a>
        {% endif %}
      </div>
    </div>

  {% elif post.content_type == 'REVIEW' %}
    <div class="card post">
      <h3 class="message-header">Review by {{post.user}}</h3>
      <div class="book-title">
        <h3 class="card-header-title">{{post.ticket}}</h3>
        <img class="book-image" src="https://via.placeholder.com/128x192">
        <p class="is-italic">{{post.headline}}</p>
        <p>{{post.rating}}/5</p>
      </div>

      <div class="card-content">
        <p>{{post.body}}</p>
      </div>

      <div class="card-date">
        <time>{{post.time_created}}</time>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock content %}

