{% extends 'main.html' %}

{% block content %}
<h3 class="title is-3">Feed</h3>

{% if request.user.is_authenticated %}
<div>
  <a class="button is-light" href="/create-ticket">New Ticket</a>
  <a class="button is-primary is-light" href="{% url 'create-review' 'new' %}">Create Review</a>
</div>
{% endif %}

{% for post in posts %}
  {% if post.content_type == 'TICKET' %}
    <div class="card post">
      {% include 'accounts/ticket_description.html' %}

      <div class="card-date">
        <time>{{post.time_created}}</time>
        {% if post.review_id is None %}
          <a class="button is-primary is-light is-small" href="{% url 'create-review' post.id %}">Review ticket</a>
        {% endif %}
      </div>
    </div>

  {% elif post.content_type == 'REVIEW' %}
    <div class="card post">
      {% include 'accounts/review_description.html' %}

      <div class="card-date">
        <time>{{post.time_created}}</time>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock content %}

