{% extends 'main.html' %}

{% block content %}
<h3 class="title is-3">Posts</h3>
{% for post in posts %}
  {% if post.content_type == 'TICKET' %}
    <div class="card post">
      {% include 'accounts/ticket_description.html' %}

      <div class="card-date">
        <time>{{post.time_created}}</time>
        <div>
          <a class="button is-light is-small" href="{% url 'update-ticket' post.id %}">Update</a>
          <a class="button is-danger is-light is-small" href="{% url 'delete-ticket' post.id %}">Delete</a>
        </div>
      </div>
    </div>

  {% elif post.content_type == 'REVIEW' %}
    <div class="card post">
      {% include 'accounts/review_description.html' %}

      <div class="card-date">
        <time>{{post.time_created}}</time>
        <div>
          <a class="button is-light is-small" href="{% url 'update-review' post.id %}">Update</a>
          <a class="button is-danger is-light is-small" href="{% url 'delete-review' post.id %}">Delete</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock content %}