{% extends 'main.html' %}

{% block content %}

<div class="review-form">
  {% if update %}
  <h3 class="title is-3">Update Review</h3>
  {% else %}
  <h3 class="title is-3">New Review</h3>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form1 %}
      <h4 class="title is-4">1 - Create ticket</h4>
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          {{form1.title}}
        </div>
      </div>
    
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          {{form1.description}}
        </div>
      </div>

      <div class="field">
        <label class="label">Image</label>
        <div class="control">
          {{form1.img}}
        </div>
      </div>
    {% elif post %}
      <div class="card post">
        {% if post.user == request.user %}
        <h3 class="message-header has-background-grey has-text-white">You posted a ticket</h3>
        {% else %}
        <h3 class="message-header has-background-light has-text-grey">Ticket posted by {{post.user}}</h3>
        {% endif %}
        <div class="book-title">
          <h3 class="card-header-title">{{post.title}}</h3>
        </div>
        <div class="card-content">
          <p>{{post.description}}</p>
          {% if post.img %}
          <img class="book-image" src={{post.img.url}} width="128px">
          {% endif %}
        </div>
        <div class="card-date">
          <time>{{post.time_created}}</time>
        </div>
      </div>
      <hr>
    {% endif %}

    {% if form1 %}
    <h4 class="title is-4">2 - Create review</h4>
    {% endif %}
    <div class="field">
      <label class="label">Headline</label>
      <div class="control">
        {{form2.headline}}
      </div>
    </div>

    <div class="field">
      <label class="label">Body</label>
      <div class="control">
        {{form2.body}}
      </div>
    </div>

    <div class="field rating-box">
      <label class="label">Rating</label>
      <div class="control">
        {% for radio in form2.rating  %}
        <label class="radio">
          {{ radio }}
        </label>
        {% endfor %}
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>

  </form>

</div>
{% endblock content %}

