{% block content %}
{% if post.user == request.user %}
<h3 class="message-header has-background-grey has-text-white">You posted a ticket</h3>
{% else %}
<h3 class="message-header has-background-light has-text-grey">Ticket posted by {{post.user}}</h3>
{% endif %}

<div class="book-title">
  <h3 class="card-header-title">{{post.title}}</h3>
</div>
<div class="card-content">
  <p>{{post.description}}</p>
  {% if post.img %}
  <img class="book-image" src={{post.img.url}} width="128px">
  {% endif %}
</div>

{% endblock content %}