<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="#" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css'%}"  media="screen,projection"/>

    <title>LITReview | {{ title }} </title>
  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"/>
  </body>
</html>
