<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">LITReview</a>
    <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Feed</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile">
  <li><a href="#">Feed</a></li>
  <li><a href="#">Posts</a></li>
  <li><a href="#">Subscriptions</a></li>
  <li><a href="#">Logout</a></li>
</ul>
   