@import './bulma.min.css';
@import './starability-all.min.css';

.navbar {
  margin-bottom: 20px;
}

#nav-links > div > a.navbar-item {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
  max-width: 1024px;
  min-height: 900px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.login-form form {
  display: inline-block;
  text-align: center;
}

.subscriptions-list {
  margin-top: 30px;
}

.followers {
  margin-top: 30px;
}

.box.sub {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 10px 0;
}

.card-date {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

.card-date time {
  align-self: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image {
  margin: 10px;
}

.book-img {
  max-height: 192px;
  max-width: 128px;
}

.book-title {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.rating-box {
  margin-bottom: 10px;
}

.footer {
  margin-top: 20px;
}
