@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.navbar {
  margin-bottom: 20px;
}

#nav-links > div > a.navbar-item {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
  max-width: 1024px;
  min-height: 900px;
}

.card {
  margin: 10px 0;
}

.card-date {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

.card-date time {
  align-self: center;
}

.book-img {
  max-height: 192px;
  max-width: 128px;
}

.book-title {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.footer {
  margin-top: 20px;
}
